body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black; }

header {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 8em;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3,  0px -10px 20px #F90, 0px -20px 40px #C33; }

nav {
  display: flex;
  justify-content: center;
  width: 1000px; }
  nav button {
    box-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3,  0px -5px 20px #F90, 0px -5px 40px #C33;
    margin-right: 50px; }
    nav button.menu-button {
      font-family: 'Cinzel Decorative', cursive;
      font-size: 1.5em; }

.game-rules {
  display: none;
  position: absolute;
  margin: 0 auto;
  height: 600px;
  width: 800px;
  top: 60px;
  background-color: #0032AF;
  border: 5px solid silver;
  border-radius: 5px;
  padding: 20px;
  line-height: 2em;
  overflow: auto; }
  .game-rules a {
    font-family: 'Lucida Grande';
    color: white;
    padding: 0.5em; }
  .game-rules h2 {
    font-size: 1.2em;
    margin-bottom: 0.8em;
    text-decoration: underline; }
  .game-rules p {
    font-family: 'Lucida Grande';
    color: white;
    padding: 0.5em; }
  .game-rules h3 {
    font-size: 1.2em;
    padding: 0.5em;
    font-family: 'Lucida Grande';
    color: white; }
  .game-rules .controls {
    display: none; }
  .game-rules .character-types {
    display: none; }

#battle-map {
  height: 650px;
  width: 650px;
  margin: 30px auto;
  border: 5px solid silver;
  background-image: url(../images/grass.png); }
  #battle-map .battle-cell {
    height: 65px;
    width: 65px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    margin: 0;
    background-color: #C5E3BF;
    background-image: url(../images/grass.png); }
  #battle-map .dead {
    background-color: red;
    background-image: url(../images/gravestone.png);
    background-size: contain;
    background-repeat: no-repeat; }
  #battle-map .clickable-character {
    cursor: pointer; }
  #battle-map .available {
    height: 65px;
    width: 65px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3); }

.characterOne {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/jon_snow.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterTwo {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/daenerys.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterThree {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/tyrion.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterFour {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/robert_baratheon.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterFive {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/ned_stark.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterSix {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/melissandre.png);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat; }

.characterSeven {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/jorah_mormont.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.characterEight {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/cersei_lannister.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.characterNine {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/the_hound.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.characterTen {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/arya_stark.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.characterEleven {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/jaime_lannister.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.characterTwelve {
  height: 65px;
  width: 65px;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 0;
  background-image: url(../images/white_walker.png);
  background-size: contain;
  background-color: rgba(110, 110, 110, 0.75);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

#move-options {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 95px;
  right: 120px;
  background-color: #0032AF;
  border: 3px solid silver;
  border-radius: 5px; }
  #move-options .option {
    display: block;
    border: none;
    background-color: #0032AF;
    cursor: pointer;
    font-size: 1.1em; }
  #move-options #attack-option {
    color: gray;
    cursor: default; }
  #move-options #magic-option {
    color: gray; }
  #move-options #wait-option {
    color: white; }

.attacker-stats-window {
  position: absolute;
  padding: 5px;
  height: 160px;
  width: 335px;
  left: 20px;
  top: 350px;
  background-color: #0032AF;
  border: 3px solid silver;
  border-radius: 5px; }

.defender-stats-window {
  position: absolute;
  padding: 5px;
  height: 160px;
  width: 335px;
  right: 20px;
  top: 350px;
  background-color: #0032AF;
  border: 3px solid silver;
  border-radius: 5px; }
  .defender-stats-window .stats {
    color: white;
    font-size: 1em;
    font-family: "Lucida Grande";
    margin-top: 3px; }

#selected-attacker {
  margin-top: 5px;
  margin-right: 5px;
  height: 120px;
  width: 120px; }

#selected-defender {
  margin-top: 5px;
  margin-right: 5px;
  height: 120px;
  width: 120px; }

h2 {
  font-family: "Lucida Grande";
  color: white;
  font-size: 1em; }

.stats {
  color: white;
  font-size: 1em;
  font-family: "Lucida Grande";
  margin-top: 3px; }

.feedback {
  display: none;
  position: absolute;
  padding: 10px;
  line-height: 1.5em;
  height: 100px;
  width: 300px;
  left: 570px;
  top: 300px;
  background-color: #0032AF;
  border: 3px solid silver;
  border-radius: 5px; }

@media (max-width: 1400px) {
  .attacker-stats-window {
    width: 190px;
    height: 160px; }

  .defender-stats-window {
    width: 190px;
    height: 160px; }

  #selected-attacker {
    height: 90px;
    width: 90px; }

  #selected-defender {
    height: 90px;
    width: 90px; }

  #move-options {
    height: 100px;
    width: 200px;
    top: 95px;
    right: 30px; }

  .feedback {
    margin-right: 250px; } }
@media (max-width: 1140px) {
  .attacker-stats-window {
    width: 160px;
    height: 140px; }

  .defender-stats-window {
    width: 160px;
    height: 140px; }
    .defender-stats-window .stats {
      font-size: .85em; }

  .stats {
    font-size: .85em; }

  #selected-attacker {
    height: 70px;
    width: 70px; }

  #selected-defender {
    height: 70px;
    width: 70px; }

  #move-options {
    height: 100px;
    width: 150px;
    top: 95px;
    right: 30px;
    font-size: 1em; }

  .feedback {
    padding: 10px;
    line-height: 1.5em;
    height: 70px;
    width: 200px;
    left: 470px;
    top: 300px; } }

/*# sourceMappingURL=main.css.map */
